[Desktop Entry]
Icon=text-html
Name=https://medium.com/codex/how-to-autostart-scripts-programs-on-linux-568567a240c8
Type=Link
URL[$e]=https://medium.com/codex/how-to-autostart-scripts-programs-on-linux-568567a240c8
